<% if(url) { %>
    <p>Hello, <%=username%>.</p>
    <p>We recieved a message from Your account saying You forgot password.</p>
    <p>If it was You, then follow link below to reset your password.</p>
    <p>If it was was not You, simply ignore this email.</p>

    <a href="<%=url%>">Click me!</a>
<% } else if(password) { %>
    <p>Hello, <%=username%>.</p>
    <p>This is Your new password for basic.am</p>
    <p><%=password%></p>
    <br>
    <span>You can change it whenever You want.</span>
<% } else { %>
    <p>Oops ! Something went wrong. Please contact administrator.</p>
<% } %>