<h1>Հետադարձ կապ</h1>

<span>Անուն։ </span> <span><%=name%></span>

<span>Էլ․ հասցե։ </span> <span><%=email%></span>

<span>Հեռախոսահամար։ </span> <span><%=phone%></span>

<p>Հաղորդագրություն։</p>

<pre>
    <%=message%>
</pre>